header {
  background-color: #5b7989;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

h1{
  color: white;
  text-shadow: 0px 2px #02010a;
}

.titulo{
  width: 70%;
}

.enlaces{
 width:  30%;
  text-align: right;
}

.contenedorgeneral{
  margin: 2px solid black;
  width: 100%;
}

.imagencentral.img{
  margin: 0 auto;
  width: 100%;
}

.secundariaizquierda{
  width: 50%;
}

.secundariaderecha{
  width: 50%;
}
