body {
	margin: 0px;
	padding: 0px;
	color: #666;
	background-color: black;
	font-size: 1em;
	line-height: 1.5em;
}

header{

  border: 0px;
  padding: 0px;
  margin: 0 auto;
}

.h1{
  display: inline-block;
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 60%;
  color: white;
  text-shadow: 0px 2px #02010a;
}

#main-header {
  background-color: #5b7989;
  border-radius: 10px;
	color: white;
	height: 80px;
  width: 95%;
}
#main-header a {
	color: white;
}

/*
 * Navegación
 */
 nav {
   margin: 0px;
   border: 0px;
   padding: 0px;
   text-align: center;
 	float: right;
 }
 	nav ul {
 		margin: 0;
 		padding: 0;
 		list-style: none;
 		padding-right: 20px;
 	}

 		nav ul li {
 			display: inline-block;
 			line-height: 80px;
 		}

 			nav ul li a {
 				display: block;
 				padding: 0 10px;
 				text-decoration: none;
 			}

footer{
  width: 100%;
  background-color: #C6d5c5;
  border-radius: 10px;
}

.enlaces{
  width: 30%;
}

.contenedorgeneral{
  margin: 2px solid black;
  width: 100%;
}

.imagencentral.img{
  margin: 0 auto;
  width: 100%;
}

.secundariaizquierda{
  width: 50%;
}

.secundariaderecha{
  width: 50%;
}

.face{
  width: 2.5%;
  height: 2.5%;
}

.inst{
  width: 2.5%;
  height: 2.5%;
}
.twi{
  width: 2.5%;
  height: 2.5%;
}

.contacto{
  width: 25%;
}
.terminos{
  width: 25%;
}
.RedesSociales{
  width: 25%;
}
.derechos{
  width: 25%;
}
