html{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
body {
	font-family: 'dancing script';
	margin: 0px;
	padding: 0px;
	color: #666;
	background-color: black;
	font-size: 1em;
	line-height: 1.5em;
}

/* HEADER */
nav ul li a{
	color:white;
}
header{
	border: 0px;
  padding: 0px;
  margin: 0 auto;
}

footer ul li a{
	color: black;
}
footer ul{
	color: black;
}

.h1{
  display: inline-block;
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 60%;
  color: white;
  text-shadow: 0px 2px #02010a;
}

#main-header {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
	color: white;
	height: 25%;
  width: 80%;
}

/* NAV */
 nav {
   	margin: 0px;
   	border: 0px;
   	padding: 0px;
   	text-align: center;
 		float: right;
 }
 	nav ul {
 		margin: 0;
 		padding: 0;
 		list-style: none;
 		padding-right: 20px;
 	}

 		nav ul li {
 			display: inline-block;
 			line-height: 80px;
 		}

 			nav ul li a {
 				display: block;
 				padding: 0 10px;
 				text-decoration: none;
 			}

/*CONTENIDO GENERAL*/

.contendorgeneral{
  margin: 0px auto;
  border: 0px;
  padding: 0px;
  width: 80%;

}

.imagencentral{
  background-color: #82c3a6;
  margin: 0px auto;
  border: 0px;
  padding: 0px;
  width: 80%;
  text-align: center;
}
.fotocentral{
  margin: 0px;
  border: 0px;
  padding: 1%;
  width: 80%;
}

.paisa{
  margin: 0px;
  border: 0px;
  padding: 1%;
  width: 38%;
}
.retra{
  margin: 0px;
  border: 0px;
  padding: 1%;
  width: 38%;
}

.imagensecundaria{
	text-align: center;
	display: block;
  background-color: #d5c75f;
  margin: 0px auto;
  border: 1px;
  padding: 0px;
  width: 80%;
}

/* FOOTER*/

footer{
	font-size: 1em;
	width: 80%;
  margin: 0px auto;
  border: 2px;
  padding: 0px;
	background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
	display: flex;
  flex-flow: row wrap;
}

.face{
	width: 8%;
  height: 8%;
}

.inst{
  width: 8%;
  height: 8%;
}

.twi{
  width: 8%;
  height: 8%;
}

.foter{
	width: 20%;
	margin: 0 auto;
	border: 0;
  padding-left: 6%;
	float: left;
}
